.Checkout {
  height: 100vh;

  .wrapper {
    border: 1px solid #000;
    display: flex;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}

.Checkout__CardIllustration {
  background-color: #ba85cc;
  display: inline-block;
  width: 60%;

}

.Checkout__Form {
  display: inline-block;
  text-align: left;
  width: 40%;

  label {
    display: block;

    input {
      display: block;
    }
  }
}
