/*
  COLOR PALETTE: http://colorpalettes.net/color-palette-821/
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.Sign-Up {
  background: linear-gradient(#c7d3bf, #7c9a92, #536d6c);
  /* background-color: #c7d3bf; */
  height: 100vh;

  .wrapper {
    background-color: #314448;
    box-shadow: 5px 10px 20px #314448;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 70%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28%;
  }

  h1 {
    color: #e0dab8;
    font-weight: 700;
    margin: 0 auto;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  input {
    align-self: center;
    background-color: rgba(224, 218, 184, 0.1);
    border: 0;
    color: #e0dab8;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    margin: 10px auto;
    padding: 0;
    text-indent: 10px;
    width: 80%;
  }

  .submit-btn {
    background-color: #e0dab8;
    color: #314448;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
  }

  .submit-btn:hover {
    background-color: #c7d3bf;
    color: #314448;
  }

  /*==================================*/
  /*          MEDIA QUERIES           */
  /*==================================*/
  @media screen and (max-width: 991px) {
    .wrapper {
      height: 75%;
      width: 40%;
    }
  }

  @media screen and (max-width: 767px) {
    .wrapper {
      height: 75%;
      width: 45%;
    }

    form {
      margin-top: 60px;
    }
  }

  @media screen and (max-width: 575px) {
    .wrapper {
      height: 100vh;
      width: 100vw;
    }
  }
}
